<mat-nav-list>
    <br>
    <br>
    <mat-list-item role="listitem"> <button mat-flat-button> <img  src="assets/logo.jpg">
    </button>
    <button mat-flat-button style="color: red;">Legacy Life Plans
    </button></mat-list-item>
    <mat-list-item role="listitem"><button mat-flat-button>Home
        <mat-icon aria-hidden="false" aria-label="Example Home icon" fontIcon="home"></mat-icon>
      </button></mat-list-item>
    <mat-list-item role="listitem"><button mat-flat-button>Trustees
        <mat-icon aria-hidden="false" aria-label="Example Trustees account" fontIcon="group"></mat-icon>
      </button></mat-list-item>
    <mat-list-item role="listitem">
        <button mat-flat-button style="color: #c62128;">Professionals
          <mat-icon aria-hidden="false" aria-label="Example person icon" fontIcon="person"></mat-icon>
        </button></mat-list-item>
    <mat-list-item role="listitem"><button mat-flat-button>More
        <mat-icon aria-hidden="false" aria-label="Example more_horiz icon" fontIcon="more_horiz"></mat-icon>
      </button></mat-list-item>
    <mat-list-item role="listitem">
        <button mat-flat-button>
          <mat-icon aria-hidden="false" aria-label="Example search icon" fontIcon="search"></mat-icon>
        </button></mat-list-item>
    <mat-list-item role="listitem"><button mat-flat-button style="background-color: #c62128; color: #fff;">Invite
        <mat-icon aria-hidden="false" aria-label="Example mail icon" fontIcon="mail"></mat-icon>
      </button></mat-list-item>
       <br>
  </mat-nav-list>